{% load static %}
<section id="why-us" class="why-us section-bg">
    <div class="container" data-aos="fade-up">

      <div class="row gy-4">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="why-box">
            <h3>Why Choose Dabba Express?</h3>
            <p>
              With Dabba Express, you can enjoy the convenience of having freshly prepared meals delivered to your doorstep. This is especially beneficial for individuals with busy schedules who may not have the time to cook but still want nutritious and tasty food.
            </p>
            <div class="text-center">
              <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
        </div><!-- End Why Box -->

        <div class="col-lg-8 d-flex align-items-center">
          <div class="row gy-4">

            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                <i class="bi bi-clipboard-data"></i>
                <h4>Variety and Customization</h4>
                <p>Dabba Express offers a diverse menu with a variety of dishes.Dabba Express allows for customization to meet your unique needs.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                <i class="bi bi-gem"></i>
                <h4>Timely Delivery</h4>
                <p>Dabba Express understands the importance of timely deliveries. Ensuring your meals arrive when you expect them.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                <i class="bi bi-inboxes"></i>
                <h4>Hygiene and Quality Assurance</h4>
                <p>Dabba Express maintains high standards of hygiene and quality in food preparation and delivery. </p>
              </div>
            </div><!-- End Icon Box -->

          </div>
        </div>

      </div>

    </div>
  </section>